<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{ page.title }} </title>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <link href="css/main.css" content="text/css"></style>
    <script src="scripts/jquery-min.js"></script>
  </head>
  <body>
    <div id="header" class="container">
      <div id="title" >{{ page.title }}</div>
      <div id="subtitle">{{ page.subtitle }}</div>
      <div id="nav">
	<ul>
	</ul>
      </div>
    </div>
    <div id="content" class="container">
{{ content }}
    </div>
    <div id="footer" class="container">
      
    </div>
  </body>
</html>
  
